.game-list {
    overflow: scroll;
    overflow-x: hidden;
}

.row {
    display: flex;
}

.row:hover {
    cursor: pointer;
    background-color: rgb(221, 219, 218)
}

.title {
    font-size: large;
}

.info {
    display: flex;
    align-items: center;
}