.column {
	display: inline-grid;
	grid-row-start: 1;
	grid-row-end: 18;
	grid-template-rows: repeat(17, 32px);
	grid-template-columns: 64px;
}

.top-section-sum {
	grid-row-start: 8;
}

.middle-section-sum {
	grid-row-start: 11;
}

.bottom-section-sum {
	grid-row-start: 17;
}