.column {
    grid-row-start: 1;
    grid-row-end: 18;
    grid-template-rows: repeat(17,32px);
    grid-template-columns: 64px;
    display: inline-grid;
}

.icon {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(250, 250, 249);
    border-radius: 0px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.10);
}

.sum-1 {
    grid-row-start: 8;
}

.sum-2 {
    grid-row-start: 11;
}

.sum-3 {
    grid-row-start: 17;
}