.dice {
    border-radius: 16px;
    height: 64px;
    width: 64px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(250, 250, 249);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.10);
    margin: 5px;
}

.dice:hover:enabled {
    cursor: pointer;
    background-color: lightgray;
    border: 4px solid indianred;
}

.dice-border-black {
    border: 4px solid black;
}

.dice-border-gray {
    border: 4px solid rgb(221, 219, 218);
}

.dice-border-red {
    border: 4px solid lightcoral;
}