.user-list {
    overflow: scroll;
    height: 50vh;
}

.row {
    padding: 10px;
    display: flex;
}

.row:hover {
    cursor: pointer;
    background-color: rgb(221, 219, 218)
}

.title {
    font-size: large;
    padding: 10px;
}

.image {
    height: 64px;
    width: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info {
    padding: 10px;
    display: flex;
    align-items: center;
}