.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    display: inline-grid;
    grid-template-rows: repeat(18, 32px);
    border: 1px solid rgb(221, 219, 218);
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.10);
}

.form-columns-1 {
    grid-template-columns: repeat(3, 64px);
}

.form-columns-2 {
    grid-template-columns: repeat(4, 64px);
}

.form-columns-3 {
    grid-template-columns: repeat(5, 64px);
}

.form-columns-4 {
    grid-template-columns: repeat(6, 64px);
}

.label-column {
    grid-row-start: 1;
    grid-row-end: 18;
    grid-template-rows: repeat(17,32px);
    grid-template-columns: 64px;
    display: inline-grid;
}

.last-column-1 {
    grid-column-start: 3;
}

.last-column-2 {
    grid-column-start: 4;
}

.last-column-3 {
    grid-column-start: 5;
}

.last-column-4 {
    grid-column-start: 6;
}

.bottom-row {
    display: inline-grid;
    grid-row-start: 18;
    grid-column-start: 1;
    grid-template-rows: 32px;
}

.bottom-row-end-1 {
    grid-column-end: 4;
    grid-template-columns: repeat(3,64px);
}

.bottom-row-end-2 {
    grid-column-end: 5;
    grid-template-columns: repeat(3,64px);
}

.bottom-row-end-3 {
    grid-column-end: 6;
    grid-template-columns: repeat(3,64px);
}

.bottom-row-end-4 {
    grid-column-end: 7;
    grid-template-columns: repeat(3,128px);
}

.button-roll-dice {
    grid-row-start: 2;
    grid-row-end: 8;
}

.button-roll-dice-normal {
    border-color: white;
}

.button-roll-dice-glow {
    border-color: white;
    animation: blink-red 1s;
    animation-iteration-count: 3;
}

.button-roll-dice:hover:enabled {
    cursor: pointer;
    background-color: rgb(221, 219, 218);
} 

.button-refresh {
    grid-row-start: 9;
    grid-row-end: 11;
}

.button-refresh-normal {
    border-color: white;
}

.button-refresh-glow {
    border-color: indianred;
    animation: blink-white 1s;
    animation-iteration-count: 3;
}

.button-refresh:hover:enabled {
    cursor: pointer;
    background-color: rgb(221, 219, 218);
}

.button-scoreboard {
    grid-row-start: 12;
    grid-row-end: 17;
}

.form-item {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 4px;
    border: 1px solid white;
    color: rgb(8, 7, 7);
    background-color: white;
}

.label-final-sum {
    font-size: x-large;
}

@keyframes blink-white { 
    50% { 
        border-color: white;
    } 
}

@keyframes blink-red { 
    50% { 
        border-color: indianred;
    }
}