.box {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    /* background-color: #fafaf9; */
    border: 1px solid rgb(155, 152, 150);
    border-radius: 4px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.10);
    color: rgb(8, 7, 7)
}
