.box {
    background-color: var(--lwc-colorBackgroundAlt);
    border: 1px solid var(--lwc-colorBorder);
	border-radius: var(--lwc-borderRadiusMedium);    
    width: 100%;
    height: 100%;
}

.box:disabled {
    background-color: var(--lwc-brandPrimaryTransparent);
}

.box:hover:enabled {
    background-color:  var(--lwc-colorBackgroundRowHover) ;
}

.red-border {
    border: 1px solid var(--lwc-colorBorderError);
}